<dd class="<%- data.row_class %>" id="qs-option-<%- data.index %>" role="option" class="product-item" href="<%- data.url %>" data-sku="<%- data.sku %>">
    <div class="product-image-box">
        <img width="45px" height="45px" src="<%- data.image %>">
    </div>
    <div class="product-shop product-item">
        <div class="f-fix">
            <div class="product-primary"><div class="product-name"><%- data.title %> <span class="auto-complete-sku">(<%- data.sku %>)</span></div></div>
            <div class="product-secondary">
                <div class="price-box">
                    <span class="regular-price"><span class="auto-complete-packSize"><%- data.packSize %></span></span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</dd>
